# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented code leveraged by Istanbul
coverage

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output build folder
dist/
build/

# Stores VSCode versions
.vscode/

# Operating System Files
.DS_Store
Thumbs.db
